<!DOCTYPE html>
<html>
<head>
  <title>Experiences</title>
  <style>
   html, body {
     margin:0px !important;
     padding:0px !important;
     height: 100%;
   }

   #content {
     height: 100%;
   }
  </style>
</head>

<body>
  <div id="content"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react-dom.js"></script>
  <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script type="text/babel" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
